# Virtual environment
.venv

# MyPy
.mypy_cache

# Setuptools artifacts
**/*.egg-info

# PyTest artifacts
.pytest_cache

# Pycache
**/__pycache__

# VS Code artifacts
.vscode

# Jupyter Notebook checkpoints
.ipynb_checkpoints

outputs/
wandb/